.edit-container {
  width: 70%;
  margin: 20px auto;
}

.repo-container {
  padding: 20px;
}

.repo-title {
  width: fit-content;
  max-width: 70%;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.edit {
  font-size: 1.714rem;
  line-height: 1.28571429em;
  font-weight: 700;
  width: 90%;
  height: 30px;
}

.readme {
  padding: 50px;
  margin: 20px 200px 20px;
  border: 2px solid black;
  width: 70%;
}

.save-button {
  height: 33px;
  padding: 20px;
}

.edit-button {
  height: 33px;
}

.zip {
  padding: 10px;
  font-size: 1.5em;
  font-weight: bolder;
}

.link-container {
  display: flex;
  justify-content: center;
}

.tags {
  display: inline;
  padding: 5px;
  font-size: 16px;
}

.tags-container {
  margin: 20px auto;
  width: fit-content;
}

.error {
  border: 2px solid red;
  font-size: 1.714rem;
  line-height: 1.28571429em;
  font-weight: 700;
  width: 90%;
  height: 30px;
}

.error-message {
  color: red;
  font-size: 20px;
  font-style: italic;
}