.navbar {
  padding: 20px;
  background-color: blanchedalmond;
}

.search {
  left: 550px;
  padding: 20px 0;
}

.title {
  text-align: center;
}

.list-group {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat( auto-fit, 300px);
  justify-content: space-evenly;
  gap: 30px;
}

.list-group-item {
  list-style: none;
}

.card {
  height: 500px;
}

.description {
  max-height: 75px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchTitle {
  display: flex;
  justify-content: center;
}

select {
  opacity: 0.8;
  outline: 0;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  box-shadow: none;
}

.select:focus {
  border: 1px solid lightblue;
}

.notFound {
  text-align: center;
  color: red;
  font-size: 30px;
}

.loading {
  text-align: center;
  color: rgb(217, 228, 13);
  font-size: 30px;
}
